# ============================================================
# INPUT / OUTPUT
# ============================================================

INPUT_FITS=/path/to/coadd.fits

OUTPUT_FITS=outputs/redrock.fits
DETAILS_H5=outputs/rrdetails.h5

# ============================================================
# TEMPLATE
# ============================================================

RR_TEMPLATE_DIR=/path/to/redrock/py/redrock/templates

# ============================================================
# ARCHETYPES
# ============================================================

USE_ARCHETYPES=true

ARCHETYPE_DIR=/path/to/redrock-archetypes

NMINIMA=9

# nearest neighbour archetypes
NNEAREST=2

# fit continuum separately for b/r/z cameras
PER_CAMERA=True

# ============================================================
# LEGENDRE
# ============================================================

# if true:
# disable ALL legendre terms
NO_LEGENDRE=false

LEGENDRE_DEGREE=2

LEGENDRE_PRIOR=0.1

# ============================================================
# CPU
# ============================================================

OMP_NUM_THREADS=1