###############################################################################
# overall Configuration
###############################################################################
# Retry Configuration
MAX_TRIES=3
# Retry delay in seconds
RETRY_DELAY=180

###############################################################################
# LLM Configuration
###############################################################################

# LLM Configuration
LLM_API_KEY=your-api-key
LLM_BASE_URL=your-base-url
LLM_MODEL=qwen3-max
# LLM_TEMPERATURE Default is 0.1
LLM_TEMPERATURE=
# LLM_MAX_TOKENS Default is None
LLM_MAX_TOKENS=

# Visual LLM Configuration
VLM_API_KEY=your-api-key
VLM_BASE_URL=your-base-url
VLM_MODEL=qwen-vl-max
# VIS_LLM_TEMPERATURE Default is 0.1
VLM_TEMPERATURE=
# VIS_LLM_MAX_TOKENS Default is None
VLM_MAX_TOKENS=

################################################################################
# Prompts Configuration
################################################################################

# MCP config path
MCP_CONFIG=/xxx/configs/mcp_config.json

################################################################################
# Prompts Configuration
################################################################################

# Prompt config path
PROMPTS_CONFIG_PATH=/xxx/configs/prompt_config_EN.json

# Prompts root directory
PROMPTS_ROOT=/xxx/prompt_content

################################################################################
# IO Configuration
################################################################################
# Run mode, single run or batch run
# RUN=s or b
# s for single run, b for batch run
RUN_MODE=b

# Input Directory
# Directory where input files are stored
INPUT_DIR=
INPUT_FORMAT=png
# Output Directory
# Directory where results will be stored
OUTPUT_DIR=

# Single mode parameters
# If RUN=s, set the image name to be processed (e.g., set IMAGE_NAME=QSO for QSO.png)
# Image name for a single image (without extension)
FILE_NAME=

# Batch mode parameters
# If you set RUN=b, and your images are named QSO_0.png to QSO_100.png, set the following:
# BATCH_HEADER=QSO_             # Base name for a series of images, leave it empty if you don't have a header
# BATCH_START=0                 # Starting index of the image series
# BATCH_END=100                 # Ending index of the image series
# The program will automatically jump the image if the image does not exist.
FILE_BATCH_HEADER=
FILE_BATCH_START=
FILE_BATCH_END=

################################################################################
# Parameters
################################################################################

# Max free debate rounds for Spectral_Analysis_Auditor and Spectral_Refinement_Assistant.
# Default is 3
MAX_DEBATE_ROUNDS=3

# DATA SET. Some prompts and workflow are modified with the survey information. 
# Supprot DESI and CSST, default is DESI
DATASET=DESI

# Camera information, unit should align with the input .png file. 
# You can leave it empty if you don't have the information.
# e.g. for DESI:
# ARM_NAME = B,R,Z
# ARM_WAVELENGTH_RANGE = 3600-5800,5760-7620,7520-9824
ARM_NAME = B,R,Z
ARM_WAVELENGTH_RANGE = 3600-5800,5760-7620,7520-9824

# OCR program
# Set the OCR program, 'tesseract' or 'paddle'. 
# Default is 'paddle'
OCR=paddle

# SNR THRESHOLD
SNR_THRESHOLD_UPPER=5
SNR_THRESHOLD_LOWER=4.5

# Continuum Smoothing Parameters, by \AA
CONTINUUM_SMOOTHING=300
# 100, 300 is good
# 10, 

# Optional Parameters for Signal Processing

# Peak Finding Parameters:
# SIGMA_LIST: List of Gaussian smoothing scales.
# Default is: 
# SIGMA_LIST=2,4,16
SIGMA_LIST=

# TOL_WAVELENGTH: Peaks within a wavelength distance of <= TOL_WAVELENGTH will be considered the same peak. 
# Default is 10.
TOL_WAVELENGTH=100

# PROM_THRESHOLD: Parameter for scipy.signal.find_peaks. Only peaks/troughs with prominence >= PROM_THRESHOLD will be identified. 
# Default is 0.01.
PROM_THRESHOLD_PEAKS=
# Default is 0.05.
PROM_THRESHOLD_TROUGHS=
# Effective Parameters for Features:
# {FEATURE}_NUMBER: Maximum number of peaks/troughs to be effective in the processing.
# Default is 10/15, meaning a maximum of 10 peaks/15 troughs found by the algorithm will be effective in the processing.
PEAKS_NUMBER=
TROUGHS_NUMBER=
# When plot the peaks and troughs, case you want use the wavelength as label. Default is false.
LABEL=true

