# ====================
# Data & outputs (RECURSIVE)
# ====================
data/
test_set/

# Logs
log/

# Environments
.env
.env.*

# VS Code
.vscode/

# codearts
.arts/
.codeartsdoer/

# Python
__pycache__/
*.py[cod]
*.so
.Python
.venv/
env/
ENV/

